numpy
pydantic
sympy
aiossechat
colorlog
attrs
typeguard
typing>=3.7
typing-extensions>=4.14
pillow
psutil
aioftp
aiohttp
pydub
json_repair
moviepy
ffmpeg_downloader
noisereduce
audioop-lts; python_version>='3.13'
pyvips[binary]
netifaces
sshtunnel
paramiko<4.0.0
dateutil
orjson